[2015-05-27 04:00] hsusmita opened #1 "ResponsiveLabel Demo"
![ios simulator screen shot may 27 2015 9 26 07 am](https://cloud.githubusercontent.com/assets/3590619/7828632/b0425196-0453-11e5-911a-79d56e7a8539.png)
![ios simulator screen shot may 27 2015 9 24 40 am](https://cloud.githubusercontent.com/assets/3590619/7828584/f7ba853a-0452-11e5-9d6a-c9923d89ee8a.png)

[2015-06-05 16:43] matrosovDev opened #2 "Create clickable words instead just one word."
Hi, I found your components, seems it works great. But it will be also cool if you can add support NSArray of custom words that can be clickable.

Thanks

[2015-06-05 18:02] susmita-fueled commented on #2
@matrosovDev , It has been added on version 1.0.1

[2015-06-08 03:22] #2 closed

[2015-06-09 11:02] hsusmita commented on #1
![1kywe8](https://cloud.githubusercontent.com/assets/3590619/8056375/1c37993a-0ec5-11e5-9a8b-1708ba2e4c6f.gif)

[2015-06-22 12:18] matrosovDev commented on #2
Great! thank you!
it works!

[2015-07-03 16:23] andr3a88 opened #3 "Highlighted color for pattern"
Hi, is possible to configure  background color for a pattern when the user touch on it?

[2015-07-03 17:13] susmita-fueled commented on #3
@andr3a88 Currently this feature is not available. Please add one github issue. I will implement it as earliest as possible.

[2015-07-06 07:38] romanvbabenko opened #4 "Zero Label view size"
I have only parent ViewController(not TableViewCell) and a Label with associated ResponsiveLabel custom class.
In runtime I cannot see the label, 'cos it's zero heigh and width. Is it a feature or a bug? How can I fix this?

[2015-07-06 09:33] hsusmita commented on #4
@romanvbabenko , is it showing error on console that it's height and width are zero? Does this work fine if you use UILabel?

[2015-07-06 12:58] romanvbabenko commented on #4
No, it's ok if use UILabel. It happens when I use ResponsiveLable which is laying on ViewController and I inspect it via Calabash query "label all" I get

[2] {
                          "id" => nil,
                 "description" => "<ResponsiveLabel: 0x7fbcd1e836a0; baseClass = UILabel; frame = (34 159; 0 0); text = 'I love #Ruby and #Objctiv...'; opaque = NO; autoresize = RM+BM; layer = <_UILab

[2015-07-06 13:36] hsusmita commented on #4
@romanvbabenko Thanks for pointing this. It is a bug. Basically, when you instantiate ResponsiveLabel from storyboard, the initial text set via storyboard is not getting set. That is why the width and height are set to zero. I will fix it soon.

[2015-07-06 14:10] hsusmita commented on #4
@romanvbabenko  For temporary fix, try setting text programmatically.

[2015-07-06 14:19] romanvbabenko commented on #4
I see, I'll. That's the reason why it worked for me in TableView, 'cos I'd configured cell programmatically.
Ok. Looking forward to updated and if you'd have time and inspiration to help me with second part of this issue: how can I simulate touches of ResponsiveLabel objects(hashes, handles, etc) via Calabash API. Let me know if you have any ideas, 'cos your knowledge of ResponsiveLabel author mor

[2015-07-08 10:30] hsusmita opened #5 "Avoid linebreaks in the middle of detected pattern"

[2015-07-10 11:37] hsusmita commented on #3
@andr3a88 You can try latest version of ResponsiveLabel for this feature.

[2015-07-10 11:37] #3 closed

[2015-07-10 11:39] hsusmita opened #6 "Properly configure ResponsiveLabel when instantiated from Storyboard"

[2015-07-10 15:25] andr3a88 commented on #3
Thank you!

[2015-07-15 08:52] hsusmita commented on #1
![custom truncation from storyboard](https://cloud.githubusercontent.com/assets/3590619/8694465/df3c1bce-2afc-11e5-9409-78e82e1f294c.png)

[2015-07-23 11:07] hsusmita commented on #4
@romanvbabenko I have updated ResponsiveLabel. Now it can take up size defined in the storyboard.

[2015-07-23 11:08] #4 closed

[2015-07-23 11:08] hsusmita commented on #6
Updated in version 1.0.3

[2015-07-23 11:58] #6 closed

[2015-08-03 11:05] hsusmita opened #7 "Pattern Attributes not applied when the label size more than the content height"

[2015-08-03 12:38] andr3a88 opened #8 "IB Designables error on storyboard"
Since I've updated to the last version on cocoapods I've these two errors on the storyboard:

![schermata 2015-08-03 alle 14 35 16](https://cloud.githubusercontent.com/assets/6755254/9037579/fb20afa4-39ec-11e5-94fe-821f33b3376a.png)

[2015-08-03 13:00] hsusmita commented on #8
@andr3a88 Can you confirm me your deployment target?

[2015-08-03 13:27] andr3a88 commented on #8
@hsusmita From iOS 7.0. To fix the errors for now, I commented the IB_DESIGNABLE and IBInspectable on ResponsiveLabel.h

[2015-08-03 14:09] hsusmita commented on #8
@andr3a88 That makes sense. IB_DESIGNABLE and IBInspectable were introduced in iOS 8. I'll see if I can make this feature optional depending on the version.

[2015-08-03 15:26] andr3a88 commented on #8
@hsusmita After a "pod update" I have this warning by cocoapods, may be related to the deployment target on the podfile ( platform :ios, "7.0")
![schermata 2015-08-03 alle 17 23 24](https://cloud.githubusercontent.com/assets/6755254/9040765/774de990-3a04-11e5-96f8-abcec598ed0f.png)

[2015-08-10 11:32] hsusmita commented on #8
@andr3a88 I have added code for conditional compilation, i.e the code for IB_DESIGNABLE and IBInspectable will be compiled if the target is greater than 8.0. Unfortunately I am unable to test this. I am using XCode 6.4. I don't get any compilation error. Can you check out branch bugfixes and test at you end?

[2015-08-14 18:58] Mackarous opened #9 "Truncation token set from interface builder does not show"
I am trying to set the truncation token in IB, but I do not have width/height constraints. I have top, bottom, left, right constraints instead. The UILabel is set to be a ResponsiveLabel, number of lines = 0.

The token shows in IB, but not when the app runs

Any ideas?

[2015-08-15 12:33] hsusmita commented on #9
@Mackarous Have you given preferred width?

[2015-08-17 06:03] hsusmita commented on #9
@Mackarous I figured out the issue. I need some more time to fix this. For the time being, you can programmatically set the truncation token.

[2015-08-17 15:29] Mackarous commented on #9
@hsusmita I have a preferred width, and I attempted to set the truncation token programatically also but it still doesn't work.

[2015-08-17 15:50] hsusmita commented on #9
@Mackarous Does it show default ellipse?

[2015-08-17 18:40] Mackarous commented on #9
Yes it does

[2015-08-18 06:45] hsusmita commented on #9
@Mackarous Is there any error regarding IBDesignable?

[2015-08-18 13:28] Mackarous commented on #9
No error for IBDesignable at all

[2015-08-18 13:55] hsusmita commented on #9
@Mackarous, I am unable to diagnose the issue. It should work programmatically. Can you share sample code on github? It would be helpful in understanding the issue.

[2015-08-18 14:17] Mackarous commented on #9
Sure. I simply add a label to my storyboard. The label has top, bottom, left, and right constraints. No height or width constraints. It has numberOfLines = 5, and I add too much text so it must truncate. I then use the following lines of code:

[code]

[2015-08-19 09:25] #7 closed

[2015-08-19 09:58] hsusmita commented on #9
@Mackarous Updated library. Try latest version, i.e 1.0.4 and let me know if there is still any issue.
FYI, I will be releasing swift implementation of ResponsiveLabel by the end of this week.

[2015-08-20 16:58] Mackarous commented on #9
@hsusmita Thank you! It works perfectly now! Great work. Also just wondering if you are planning on putting hit state on the truncation token?

[2015-08-20 16:58] #9 closed

[2015-08-20 18:28] hsusmita commented on #9
@Mackarous What do you mean by hit state? Is it something like highlighting the token on tap?

[2015-08-20 19:08] Mackarous commented on #9
@hsusmita yes exactly

[2015-08-21 08:07] hsusmita commented on #9
@Mackarous The bug in highlighting token is fixed. Check the version 1.0.5. Here is the sample code is
[code]

[2015-08-21 18:08] Mackarous commented on #9
Perfect! Thank you so much!

[2015-08-24 14:09] andr3a88 commented on #8
now looks all right

[2015-08-24 14:42] #8 closed

[2015-08-25 11:27] David-Molloy opened #10 "ResponsiveLabel not updating correctly in UITableView"
I have a UITableViewCell in which I am using two separate ResponsiveLabel. When I scroll through the table the ResponsiveLabel is repeating text from pervious cells. I have checked that the text being set in the fields was the correct text. My logging appears to show that this is not the problem. I then started looking at where the various draw methods are being called, and this leads me to believ

[2015-08-25 13:30] hsusmita commented on #10
@David-Molloy I tried to simulate your condition. It seems to work fine. Can you provide me with more info?May be some sample example will help.

[2015-08-27 10:51] andr3a88 opened #11 "Request: highlighted background rect rounded"
Hi, it is possible to make the highlighted rect with rounded corners?

![schermata 2015-08-27 alle 12 49 08](https://cloud.githubusercontent.com/assets/6755254/9518806/3297d5c2-4cba-11e5-8c18-8424e0751a5e.png)

[2015-08-27 11:05] hsusmita commented on #11
@andr3a88 As per current implementation it is not possible to do so. When a text is tapped, NSBackgroundColorAttributeName attribute is updated. to achieve this goal, the following method needs to be overriden with custom drawing code.
- (void)drawBackgroundForGlyphRange:(NSRange)glyphsToShow atPoint:(CGPoint)origin

I will research about this and try to implement. If you can come up with custom d

[2015-08-28 11:52] David-Molloy commented on #10
Hi

found out the problem, the ResponsiveLabel does not clear the textstorage
if you set the ResponsiveLabel to nil. We are using the ResponsiveLabel in
a tableviewcell. Not every cell will display text, so when the cell gets
reused it still has the text from a pervious cell that did use the
ResponsiveLabel. At the start of each CellForRowAtIndexPath we where
setting the ResponsiveLabel to nil but

[2015-08-28 13:04] hsusmita commented on #10
Great work @David-Molloy. Thank you for digging into the issue. I will update is soon.

[2015-08-31 07:05] hsusmita commented on #10
@David-Molloy Instead of creating a separate method, I have added code to handle nil string. You can check the version 1.0.6.

[2015-09-01 06:29] hsusmita opened #12 "Incorrect size of Label when preferred width is set"

[2015-09-06 18:24] MartijnSchoemaker opened #14 "hightlightedTextColor = nil results in crash"
It's possibe that hightlightedTextColor = nil on line 712 of responsiveLabel.m

  else if (self.isHighlighted)
    colour = self.highlightedTextColor;

This results (sometimes) in a crash on line 719.

Solution proposal:
  else if (self.isHighlighted && self.highlightedTextColor)
    colour = self.highlightedTextColor;

[2015-09-07 06:29] hsusmita commented on #14
@MartijnSchoemaker Done!

[2015-09-07 06:29] #14 closed

[2015-09-07 07:01] hsusmita commented on #11
@andr3a88 I have implemented the feature. I have pushed code in develop branch. Can you have a look whether it works as expected? It would be great if you have any suggestion about performance.

[2015-09-16 08:58] nick3389 commented on #7
I have the following problem. When the text of the label is small or significant smaller than the label's height the patterns do not work. Do you have any suggestion? Thanx.

[2015-09-16 09:41] hsusmita commented on #7
@nick3389 can you tell me the font size and label height?
The patterns would not work when content height calculation is not accurate. Need more information to dig into the issue.

[2015-09-16 09:44] nick3389 commented on #7
Label's height: 325, Label's width: 247, font: 13 and the text is about 3 lines.

[2015-09-16 10:03] hsusmita commented on #7
@nick3389 Do you have problem in applying pattern or problem in highlighting the pattern while tapping?

[2015-09-16 10:04] nick3389 commented on #7
@hsusmita The problem is in applying the pattern. It is highlighted but i tap it and nothing happens.

[2015-09-16 10:06] hsusmita commented on #7
Can you post the attributes added for the pattern?

[2015-09-16 10:08] nick3389 commented on #7
PatternTapResponder hashTagTapAction = ^(NSString *tappedString) {
NSLog(@"hashtag tapped");
};
[self.commentText enableHashTagDetectionWithAttributes:@{NSForegroundColorAttributeName: [UIColor colorWithRed:0.0 green:180.0/255.0 blue:241.0/255.0 alpha:1.0], RLTapResponderAttributeName: hashTagTapAction}];

[2015-09-16 10:09] hsusmita commented on #7
Ok I got it. So NSForegroundColorAttributeName is applied, but while tapping, the action does not fire. right?

[2015-09-16 10:10] nick3389 commented on #7
Yes, that's right.

[2015-09-16 10:10] hsusmita commented on #7
Thanks for your input. I found the problem. I will update it soon.

[2015-09-16 10:11] nick3389 commented on #7
ok. Post here if you can to check it immediately.

[2015-09-16 10:12] hsusmita opened #15 "Touch action not executed when label height is more than content height"

[2015-09-16 10:26] hsusmita commented on #7
@nick3389 Please check out the branch bugfixes, run your tests and let me know if that works.

[2015-09-16 10:36] nick3389 commented on #7
@hsusmita Yes it is ok now. Many thanx!. Also, I have noticed two bugs:
1) the adjustsFontSizeToFitWidth property is not working
2) if there are two consecutive hashtags, you do not catch the second one. Generally, you catch only the first. Example: #test1#test2#test3. You catch and highlight only #test1, not the other two.

[2015-09-16 10:46] hsusmita commented on #7
@nick3389 Thanks for pointing these issues. For point 2, I am looking for appropriate regular expression. If you construct one which can distinguish two consecutive patterns, then let me know.

[2015-09-16 10:46] hsusmita opened #16 "adjustsFontSizeToFitWidth does not work properly"

[2015-09-17 10:17] nick3389 opened #17 "Crash in ResponsiveLabel.m line 335"
@hsusmita  Terminating app due to uncaught exception 'NSRangeException', reason: 'NSMutableRLEArray objectAtIndex:effectiveRange:: Out of bounds'

Can you check it out?

[2015-09-17 10:30] hsusmita commented on #17
@nick3389 Is it in bigfixes branch or master branch?

[2015-09-17 10:32] nick3389 commented on #17
bugfixes branch. The one i downloaded yesterday

[2015-09-17 10:34] nick3389 commented on #17
@hsusmita spicifically in this line:

[self.textStorage removeAttribute:key range:self.truncatedPatternRange];

[2015-09-17 11:11] hsusmita commented on #17
@nick3389 Does your text has new line character?

[2015-09-17 11:14] nick3389 commented on #17
@hsusmita the text is from a user's input in a UITextView. so maybe the user hit the the return button. Do you have any idea why this is happening?

[2015-09-17 11:17] hsusmita commented on #17
The reason either self.truncatedPatternRange has garbage value or the calculated range is out of bounds. Tell me value of truncatedPatternRange when the crash occurs.

[2015-09-17 11:28] nick3389 commented on #17
@hsusmita Sometimes i see this in the debugger:

tokenRange	NSRange	location=9223372036854775807, length=0 (I don't know if it's relevant)

truncatedPatternRange when the crash occurs
truncated range   129  7

[2015-09-17 11:37] hsusmita commented on #17
Can you track the user input? I have identified the offending code. I want to make sure if this is because of new line character.

[2015-09-17 11:39] nick3389 commented on #17
imagine that this is a comment that the user made on a product. The user writes the comment, hits save and this is stored in the database. Then I have an http call to retrieve the comments and i have a tableview to display them. What do you want me to do?

[2015-09-17 11:43] hsusmita commented on #17
At the point of crash, can u print the attributedText of ResponsiveLabel?

[2015-09-17 11:44] nick3389 commented on #17
It's in greek. Do you still want it?

[2015-09-17 11:46] hsusmita commented on #17
yes!

[2015-09-17 11:49] nick3389 commented on #17
Comment:   Αποξηραμένες ντομάτες σε παρθένο ελαιόλαδο, ιδανικές για κάθε μεζέ, για πέστο φέτας και για εντονότερη γεύση στα μαγειρευτά σας! #tomato #kalamata #sundried
 (there is always a space at the end because you do not catch the hashtag)

Range: 129  7

[2015-09-17 12:04] hsusmita commented on #17
Have you enabled custom truncation?

[2015-09-17 12:12] nick3389 commented on #17
@hsusmita  i suppose no...

[2015-09-17 12:16] hsusmita commented on #17
What is the value of self.customTruncationEnabled? So there is reuse of table view cell in your case?

[2015-09-17 12:17] nick3389 commented on #17
@hsusmita Yes that's right. I enabled it now.

[2015-09-17 12:18] hsusmita commented on #17
value of self.truncatedPatternRange?

[2015-09-17 12:19] nick3389 commented on #17
Always (0,0) now

[2015-09-17 12:32] hsusmita commented on #17
@nick3389 I could not reproduce the bug. However I added some checks. Check code present in bugfixes branch and let's see how it goes.

[2015-09-17 12:36] nick3389 commented on #17
With customTruncationEnabled = YES in the label, i haven't noticed the bug yet. I just replaced the new code and I will test again. Again, many thanx!

[2015-09-18 07:08] nick3389 commented on #17
@hsusmita  'NSRangeException', reason: 'NSConcreteMutableAttributedString attributedSubstringFromRange:: Out of bounds'

new crash today. i ma trying to identify where is it but i guess it's in the same file

[2015-09-18 07:26] nick3389 commented on #17
@hsusmita  this is the visible string that i log:

@"Παστελαριές της Αθανασίας που ακολουθεί τα βήματα της παράδοσης στην Ανδρο.\n #παστελαριές #γλυκ"

As you see it indeed contains a new line character, as you told me yesterday. I fixed it temporary with:

hashtagString = [hashtagString stringByReplacingOccurrencesOfString:@"\n" withString:@" "];

[2015-09-22 16:15] nithinreddy opened #18 "Multiple labels within a uitableview cell don't show right color"
I've multiple tables within a uitableview row. But a few hashtags get highlighted, and few don't. As i scroll up and come to the cell again, it changes randomly.
Can you please check this case?

For some reason, the behavior of ResponsiveLabel in UITableView isn't consistent.

[2015-09-23 02:47] hsusmita commented on #18
@nithinreddy can you confirm that two hashtags have space between them? Currently it cannot recognise the 2nd hashtag if there is no space between two hashtags.

I will look into scrolling issue.

[2015-09-23 02:52] nithinreddy commented on #18
Yes, there is a space. Its basically 2 different labels.

Also, there is an issue that if the hashtag is the end of the label, it
won't recognize it. So I'm appending spaces to each and every label.

On Wed, Sep 23, 2015 at 8:17 AM, hsusmita <notifications@github.com> wrote:

[2015-09-23 07:48] hsusmita commented on #18
@nithinreddy When you append space in the end, does it work for scrolling also?

[2015-09-23 07:52] nithinreddy commented on #18
No, the scroll issue still persists

On Wed, Sep 23, 2015 at 1:18 PM, hsusmita <notifications@github.com> wrote:

[2015-09-23 07:58] nithinreddy commented on #18
See the images image and you know what I mean. It happened when I scrolled back in. In the first image, #sogood wasn't detected. When I scrolled down and then up, one was detected, and one was not.

<img width="347" alt="screen shot 2015-09-23 at 1 24 53 pm" src="https://cloud.githubusercontent.com/assets/3472256/10040134/910e7ca4-61f6-11e5-8bf7-9bd2b47a509e.png">
<img width="340" alt="screen shot

[2015-09-23 08:02] hsusmita opened #19 "Detect two consecutive hashtags"
Currently, it cannot detect second hashtag, when two hashtags are consecutive.

[2015-09-25 02:19] nithinreddy commented on #18
Hi, did you get a chance to check this?

[2015-09-25 05:06] hsusmita commented on #18
@nithinreddy hey I will update EOD.

[2015-09-26 02:29] hsusmita commented on #18
@nithinreddy I have pushed latest code in bugfixes branch. Please do your tests and let me know. Then I will merge with master.

[2015-09-26 02:32] hsusmita commented on #17
@nick3389 Hey I have added some fixes to prevent crash. Can you check "bugfixes" branch and let me know if the issue with newline character is fixed?

[2015-09-26 03:01] nithinreddy commented on #18
Just checked it and it still appears :(

See the screenshots below please.

<img width="360" alt="screen shot 2015-09-26 at 8 30 10 am" src="https://cloud.githubusercontent.com/assets/3472256/10115539/e6c19b66-6428-11e5-8d04-d4012e61de12.png">
<img width="365" alt="screen shot 2015-09-26 at 8 30 00 am" src="https://cloud.githubusercontent.com/assets/3472256/10115540/e6ef25fe-6428-11e5-8662-2fa7541

[2015-09-28 06:06] hsusmita commented on #18
@nithinreddy Can you provide me sample project isolating the problem? May be I can experiment on conditions which I might have missed.

[2015-09-30 11:24] niravspaceo opened #20 "hastag color changes to black color after tapping that hastag"
Hello,
I successfully detected hastag in my app, but the problem is when I click particular hashtag, then It color changes to black. So where should I change the code in your files ?

Regards

[2015-09-30 12:45] #15 closed

[2015-09-30 12:45] #17 closed

[2015-09-30 12:45] #19 closed

[2015-09-30 12:49] hsusmita commented on #20
@niravspaceo check version 1.0.8 and let me know.

[2015-10-03 13:13] ivanviragine opened #21 "Crash while scrolling: index (X) beyond array bounds (X)"
Hi!

I'm getting some random crashes when using a ResponsiveLabel inside a xib from a TableView.
When first displayed on the TableView, it goes ok, but when I scroll down, see the next row, and then scroll back to the first row, it crashes.
This happens only when the text is close to the edge of the label, for example (the pipes | denotes labels' bounds):

| this is a text @text           | < fine

[2015-10-03 13:20] ivanviragine commented on #21
Adding a new discover:

This happens ONLY if there's an blank space after the @ text.

Here's an example of text:

**Vendo o movimento com minha irmã @gigi**

**Watching the movement with my sis @gigi**

Goes ok.
But when adding space after the first @gigi, like this

**Vendo o movimento com minha irmã @gigi **

**Watching the movement with my sis @gigi**

It crashes!

[2015-10-03 16:34] hsusmita commented on #21
@ivanviragine Which version are you using?

[2015-10-03 16:35] ivanviragine commented on #21
Latest from zip.

--
Sent from my Galaxy Note 3
On Oct 3, 2015 1:34 PM, "hsusmita" <notifications@github.com> wrote:

[2015-10-03 16:37] hsusmita commented on #21
@ivanviragine cool! I will have a look and update you by Monday.

[2015-10-03 16:39] ivanviragine commented on #21
Thanks a lot!

--
Sent from my Galaxy Note 3
On Oct 3, 2015 1:37 PM, "hsusmita" <notifications@github.com> wrote:

[2015-10-03 16:41] hsusmita commented on #21
In case you are using 1.0.5, can you check with 1.0.8?

[2015-10-05 10:15] ivanviragine commented on #21
Hi!

I'm using 1.0.8. Downloaded the zip yesterday, just to be really sure!

Atenciosamente,

--
Ivan Nicola Viragine

On Sat, Oct 3, 2015 at 1:41 PM, hsusmita <notifications@github.com> wrote:

[2015-10-06 13:07] hsusmita commented on #21
@ivanviragine I am not able to reproduce. Can you prepare an sample project with your data set so that I can dig into this?

[2015-10-06 13:11] ivanviragine commented on #21
Thanks!

I'll try to make this sample.
Just as a tip: it doesn't happen on iPhone 6, for example, happens on
iPhone 5.
If you want to reproduce the problem, your text has to reach the right
corner of the screen... the same code on iPhone 6 had room on the right
side, so it worked fine, on iPhone 5 the text was over the edge.

Atenciosamente,

--
Ivan Nicola Viragine

On Tue, Oct 6, 2015 at 10:07 A

[2015-10-13 19:52] luctek opened #22 "Add expanded state end token"
Hi,

Here is the use case I would like to be able to achieve with the label. Have the "More" label (TruncationToken) to expand the view and a "... Less" label at the end of the text when the view is expanded and want to revert to the collapsed view.

Setting the setAttributedTruncationToken of the label after it has expanded doesn't display the "... Less" label since it's not truncated anymore.

C

[2015-10-14 07:22] CGTRahul opened #23 "How to change the default Black Color of ResponsiveLabel."
How can I change the default Black color of ResponsiveLabel. I've tried setting the White color through the Attributes Inspector as well as through code but it still shows the default black color.

[2015-10-14 19:59] ivanviragine commented on #21
@hsusmita any news on this?

I've tried to pull a simplified version of my app, but it's not simple.
I'll try again soon...

[2015-10-24 05:45] kidsid49 opened #24 "Doesn't respect numberOfLines property?"
So my label.numberOfLines = 4. So it always draw a big UILabel rect even if text is just one line.
No matters how small a text is it always consider its a big as  provided in numberOfLines.

[2015-10-24 06:07] kidsid49 opened #25 "Can you give flexibility to show mentions by providing the indices array?"
The thing is not every word starts with "@" is a valid mention. So if I get indices of all valid mentions I will be able to show only valid mentions with different color and can take care of tap on it.
I could have used NSAttributed strings easily but I am using your pod becsue it gives me taps on particular word.

[2015-10-27 05:53] #25 closed

[2015-11-03 22:44] georgesteiner commented on #24
yes I have noticed this too

[2015-11-03 22:49] georgesteiner commented on #23
I have not had trouble changing the color in the attributes inspector, were you able to figure out what was wrong?

[2015-11-03 23:09] georgesteiner commented on #24
here is a simple work around I just came up with that seems to do the trick for me, hope this helps!

//figure out what you want the max width and heigh to be for your label
CGSize boundingSize = CGSizeMake(maxWidthForLabel, maxHeightForLabel);

//draw your label and figure out how tall it will need to be given it's text and font attributes
CGRect textRect = [textForLabel boundingRectWithSize:boun

[2015-11-03 23:15] georgesteiner opened #26 "Tapping truncationToken on blank line isn't recognized"
It seems for some reason when the truncationToken appears on a line break like in the screenshot below, it is not recognized when tapped. Otherwise it works fine for me.

![image](https://cloud.githubusercontent.com/assets/12595865/10924711/ac5643ea-8256-11e5-845c-6c5c174a76a4.png)
![image](https://cloud.githubusercontent.com/assets/12595865/10924713/b3fc1fe8-8256-11e5-80dc-2eeb851256f9.png)

[2015-11-04 07:48] CGTRahul commented on #23
Not yet. I dropped the plan of using the ResponsiveLabel library.

[2015-11-04 12:25] #23 closed

[2015-11-04 12:25] #26 closed

[2015-11-04 12:36] hsusmita commented on #22
@luctek This use case is very specific. The purpose of this library is to function like UILabel with enhanced features. The repository has an example which implements expanding and collapsing text. Here is the sample code.

[code]

[2015-11-04 12:36] #22 closed

[2015-11-04 12:38] #20 closed

[2015-11-05 07:44] #10 closed

[2015-11-11 18:49] kidsid49 commented on #24
Not helping much :-(

[2015-11-11 19:03] kidsid49 commented on #24
I did this in my case maximum number of lines was 4.

    CGSize requiredSize = [storyCell.showReviewLabel.text boundingRectWithSize:CGSizeMake(CGRectGetWidth(storyCell.showReviewLabel.frame), CGFLOAT_MAX) options:NSStringDrawingUsesLineFragmentOrigin attributes:@{NSFontAttributeName:storyCell.showReviewLabel.font} context:nil].size;

    CGFloat charSize = storyCell.showReviewLabel.font.lineHeigh

[2015-11-11 19:03] #24 closed

[2015-12-23 12:36] jpatel956 opened #28 "Read more and Read less issue."
Actually i am using your library to expand/collapse UILabel in UITableViewCell. but some times when i click on "Read more" the UILabel is expand but not showing "Read less" label. so can you please help me to short out my issue. it is batter if you provide demo. here is my code that has been written in "cellForRowAtIndexPath" ..

            __block  NSString *str =mutArrEventList[indexPath.row][@

[2015-12-24 07:56] hsusmita commented on #28
@jpatel956 Do you mean when you tap "Read More", the label gets expanded, but the text is truncated? Can you post a screenshot?

[2015-12-24 09:09] jpatel956 commented on #28
@hsusmita , No actually i want to said that "Read more" and "Read less" is not working properly while i used in "cellForRowAtIndexPath". so can you provide me demo that used this library for showing content in UITableView.

[2015-12-24 09:11] hsusmita commented on #28
Download the demo project. It has an example with tableview.

[2015-12-24 09:29] jpatel956 commented on #28
@hsusmita , ohh sorry i forgot to see. i just integrate your library thorough cocoa pod and trying.

[2016-01-07 13:33] kidsid49 opened #29 "Label truncation is leading to unexpected behaviour when used inside the tableview cell."
As shown in screenshot below setAttributedTruncationToken works fine but when I tap on the cell "drawText" gets called and looks like it resizes the label again. here it is looks like.
I don't have any idea why this is happening?
Any clue?

Other than that my text includes a newline but its seems that spacing is gone when I tap on the cell.
Check the third screenshot.

<img width="384" alt="trunca

[2016-01-08 06:54] hsusmita commented on #29
@kidsid49 This seems very interesting. Are you sure the problem is only for text with new line? I will try to dig in.

[2016-01-08 11:57] hsusmita commented on #29
@kidsid49 Are you changing text or attributes on cell tap? I have implemented same thing in my demo project. It works fine there. Can you give me more input?

[2016-01-08 12:03] #28 closed

[2016-01-10 12:32] kidsid49 commented on #29
Nope. I just find that on cell tap it calls drawText thats why this is happening.

[2016-01-12 03:32] kidsid49 commented on #29
@hsusmita  here is my code in cellRowAtIndexPath -

 NSString *expansionToken = NSLocalizedString(@"MORE_TRUNCATION", nil);
        NSMutableAttributedString *attribString = [[NSMutableAttributedString alloc]initWithString:expansionToken attributes:@{NSForegroundColorAttributeName:[[GSUtil colorFromHexString:@"#0C101E"] colorWithAlphaComponent:0.5],RLHighlightedForegroundColorAttributeName:[[GSUti

[2016-01-12 08:31] AshwinDamji opened #30 "Swift 2.0: Value of type 'PatternTapResponder' (aka 'ImplicitlyUnwrappedOptional<String> -> ()') does not conform to expected dictionary value type 'AnyObject'"
Hi,

I am using Swift 2.0
I have written below code.

let expansionToken = "...More"
            let tapResponderAction: PatternTapResponder = { (tappedString) -> Void in
                print("User Tapped More = " + tappedString)
                review.isExpanded = !review.isExpanded
                tableView.reloadRowsAtIndexPaths([indexPath], withRowAnimation: UITableViewRowAnimation.Automatic)

[2016-01-26 19:45] Ying1986 opened #31 "App crashed"
@hsusmita
I have found crash issue while use this control.

http://crashes.to/s/2923ed77506/details

Please check and fix it.
Thank you,

![resposivelable](https://cloud.githubusercontent.com/assets/6648212/12592662/16a862bc-c476-11e5-9edb-c6995310ef2c.PNG)

[2016-02-09 16:31] stevenmunoz commented on #30
I'm having the same issue, some answers ?

[2016-02-22 12:11] vcambur commented on #30
something like

                `let block: @convention(block) (NSString!) -> Void = {
                    (string: NSString!) -> Void in
                    print(string)
                }
                label.enableStringDetection("test string", withAttributes: [NSForegroundColorAttributeName: UIColor.redColor(), RLTapResponderAttributeName: unsafeBitCast(block, AnyObject.self)])`

seems to do

[2016-03-04 11:53] karnakar opened #32 "Change Text Color"
Hi,

Thanks for library.How to change the text colour of string, for example for strings with hash tags they have some default colour

[2016-03-04 13:19] karnakar opened #33 "Returning wrong string in handler"
Hi

If string has special characters like ' (L'Oreal), it is returning only L. Any  Solution?

[2016-03-04 13:19] #32 closed

[2016-03-10 20:02] CavalcanteLeo opened #34 "Change the font for the first match"
I'm facing a problem when the sentece has same words.
eg:
Username "a"
sentence: "a": i have "a" dream
i'd change the font for only the fist "a".

Does anyone knows how to do that?

[2016-03-11 09:35] hsusmita commented on #34
@CavalcanteLeo
You can use NSAttributedString for that.
`let finalString = NSMutableAttributedString(string: "\"a\": i have \"a\" dream")
finalString.addAttribute(NSFontAttributeName, value: UIFont.systemFontOfSize(15.0), range: NSMakeRange(0,1))
`

[2016-03-11 09:54] hsusmita commented on #34
@CavalcanteLeo Try this one
[code]

[2016-03-11 18:19] CavalcanteLeo commented on #34
worked, thank you!!

[2016-03-12 02:42] #34 closed

[2016-03-22 08:52] patheticcockroach commented on #5
Just to provide a bit more details : I have a very long link which doesn't fit in a single line, this results in it not being detected at all (I confirmed that the link matches the regex by reducing the font to something small enough for the link to fit on a single line)

[2016-03-22 09:58] patheticcockroach commented on #18
Hi, I have a similar issue with multiline URLs when they are in table cells, in a big enough table (say, vertical table with 20 cells where each cell takes roughly 25% of the screen). One-line URLs are always detected, multiline URLs are more random, and just like OP it changes when I scroll up and down.
After a bit more testing, in iOS Simulator:
- on iPhone 5s, multiline URL seems to always fail

[2016-03-24 03:23] CavalcanteLeo opened #35 "double hashtag"
It doesn't recognize if there are 2 hashtags together...
Eg: #hastag1#hastag2

[2016-03-24 05:04] hsusmita commented on #35
I will have to update the regex for hashtag. You can research for appropriate regex to detect the consecutive hashtags and use the following methods:
[code]

[2016-03-24 05:05] hsusmita commented on #33
@karnakar Can you elaborate your problem?

[2016-03-24 05:11] hsusmita commented on #31
@Ying1986 Can you provide me with some test cases for which it is crashing?

[2016-03-24 15:09] CavalcanteLeo commented on #35
use this:

    /#\w+/g

[2016-03-24 15:19] hsusmita commented on #35
Does this work properly for you with the above code?

[2016-03-24 15:54] CavalcanteLeo commented on #35
No, it doesn't, i don't know why...
I have to see how you expect and treats the regex.

This is the correct regex for hashtag, but.....

[2016-04-04 17:36] phalladar opened #36 "Strings that end in \r\n break truncation."
Consider the following code:
[code]

Turning `\r\n` into `\r\r`, `\n\n`, or `\n\r`

Turns

![image](https://cloud.githubusercontent.com/assets/5656638/14257094/18d94fcc-fa6a-11e5-875b-97a1a72343e0.png)

Into

![image](https://cloud.githubusercontent.com/assets/5656638/14257091/0d95d900-fa6a-11e5-8a43-9952b0e93753.png)

I have a sample app to reproduce if you're unable — just let me know and I'll m

[2016-04-06 13:21] #31 closed

[2016-04-06 14:25] #21 closed

[2016-04-06 14:26] hsusmita commented on #36
@phalladar Please share the sample app. That would be helpful.

[2016-04-06 14:53] #11 closed

[2016-04-06 14:53] #1 closed

[2016-04-06 15:12] phalladar commented on #36
https://github.com/phalladar/RLTruncationProblemSample — here you go

[2016-05-05 15:59] D34thStalker opened #37 "Problem with Table View Cells"
I have tested this and found this problem many times that inside of my table view , the cells are each another comment by users. The comments are of class "ResponsiveLabel" and sometimes the last word of a comment does not get written out. but when I put a new comment and the labels reload with the table, then some of the comments get that last word written out while a different cell will have the

[2016-05-05 16:40] hsusmita commented on #37
@D34thStalker can you provide me sample code to test this?

[2016-05-05 16:45] D34thStalker commented on #37
It's part of an app I am building for a client. I cannot really take the code out either to create a sample project from the way that its written. I can take two screenshots of the issue to show what's happening, and I can provide the script of the tableview cells. But that is all I can provide.

Please let me know, I can email them over

[2016-05-10 08:03] kidsid49 opened #38 "Crashing in iPhone 5S. Says "exc_bad_access kern_invalid_address""
Here is the crash report.

[Crashed: com.apple.main-thread
0  libobjc.A.dylib                0x1800f1bd0 objc_msgSend + 16
1  Foundation                     0x18134ee50 -[NSMutableRLEArray replaceObjectsInRange:withObject:length:] + 448
2  Foundation                     0x18134f7dc -[NSConcreteMutableAttributedString setAttributes:range:] + 100
3  Foundation                     0x18135f664 -[NSMut

[2016-05-13 15:21] andr3a88 opened #39 "Text height with different text weight"
Hi, I've a problem to calculate the precise frame height for a text with different font weight.

This is the font attributes, _regular_ weight for the normal text and _bold_ for hashtag, screename and url.
`let attributesTweet = [NSFontAttributeName : AppStyle.Fonts.get(.REGULAR, size: .SMALL)]`
`let attributesHighlightedTweet = [NSFontAttributeName : AppStyle.Fonts.get(.BOLD, size: .SMALL)`

I ne

[2016-05-16 10:41] yulichandra opened #40 "Truncation token got truncated ?"
When truncation token if have more than 8 character, truncation token got truncated. (screenshot 1 and screenshot 2 for compare)

![screen shot 2016-05-16 at 11 35 42 am](https://cloud.githubusercontent.com/assets/18704271/15280483/0be0063c-1b5b-11e6-9a0d-cb264b4dd1be.png)

![screen shot 2016-05-16 at 11 44 32 am](https://cloud.githubusercontent.com/assets/18704271/15280540/96fa6e4c-1b5b-11e6-911a

[2016-05-24 12:12] kidsid49 commented on #38
@hsusmita  any clue?

[2016-05-25 03:36] kidsid49 opened #41 "The new update crashing in iPhone 5, 5S and 5C?"
Your inclusion of new category in latest commits keeps crashing on iPhone 5 family device.
any clue?

line 29 -[NSMutableAttributedString(BoundChecker) removeAttributeWithBoundsCheck:range:]
(exc_bad_access kern_invalid_address)
That's why what my crashanalytics showing me.

[Crashed: com.apple.main-thread
0  libobjc.A.dylib                0x23d23a82 objc_msgSend + 1
1  Foundation

[2016-06-03 20:58] uwjimmyxu commented on #41
I'm getting the same crash with iPhone 6, 5, and iPod touch 6g, so I'm assuming it affects all devices.

[2016-08-18 06:09] hb2708 commented on #30
@vcambur Thanks

Worked for me.

[2016-10-18 11:12] MilapKundalia opened #42 "Crashing in table view (swift 3)"
Hi Hsusmita,

I am using your ResponsiveLabel control in uitableview Language is Swift 3 and I am getting "exc_bad_access code=exc_i386_gpflt"

I am unable to debug this issue
can plz help me
I have also tried your SHResponsiveLabel but after converting it to swift 3 lots of bugs are coming
it would be great if you convert the control in Swift 3

Thanks in advance

[2016-10-18 11:35] hsusmita commented on #42
@MilapKundalia Can you localise the point of crash? It would be a great help.
SHResponsiveLabel is not stable yet.

[2016-11-16 19:49] asadali737 commented on #36
I am also facing the same issue. Any update on this?

[2016-11-17 01:31] hsusmita commented on #36
@asadali737 I haven't been able to find appropriate solution for this.

[2017-04-25 08:44] seanbabby opened #43 "error with chinese string."
![s__4227092](https://cloud.githubusercontent.com/assets/18606521/25376268/201a3c82-29d6-11e7-81dc-7207c080e6bb.png)

why use chinese will get this situation?
i don't know how to fix it.
can u help me?

[2017-04-25 11:14] hsusmita commented on #43
Can you explain me in terms of expected result and current result?

[2017-04-26 01:55] seanbabby commented on #43
if i use chinese ,the hashtag will separate with word
but if use english, it's normal

[2017-04-26 02:03] seanbabby commented on #43
![2017-04-26 9 59 38 2](https://cloud.githubusercontent.com/assets/18606521/25414982/7208e70a-2a67-11e7-93cf-a19002ca0bb3.png)
![2017-04-26 9 59 26 2](https://cloud.githubusercontent.com/assets/18606521/25414983/724a1cb6-2a67-11e7-9dff-981b241f0131.png)
![2017-04-26 9 59 32 2](https://cloud.githubusercontent.com/assets/18606521/25414984/724d7924-2a67-11e7-88c6-06a6e3ca9f62.png)
this is what i clic

[2017-04-26 06:22] hsusmita commented on #43
Thanks @seanbabby for clarifying it. I will have a look. Can you post some chinese strings so that I can use them while testing?

[2017-04-26 06:51] seanbabby commented on #43
"測試" means "test", "標籤" means "tag", "使用者" means "user", "網址" means "URL",
"字串" means "string", "中文" means "chinese"
thanks for ur help!

[2017-05-12 06:30] vickydhas opened #44 "Writing the 'enableURLDetectionWithAttributes' in cellForRowAtIndexPath stops my VC to call dealloc."
Hello Developer,

Good job on the responsive label code to detect links , below is my code in the cellForRowAtIndexPath  definition snippet for reference.

Can help me why the line where the urlTapAction is assigned to enableURLDetectionWithAttributes call parameter stops my dealloc.

I have tried to put the items in background and all still doesn't works.

[code]

Comment this line and the deallo

[2017-06-12 18:37] bounds opened #45 "Crash on - [ResponsiveLabel performActionAtIndex:] in swift 3.0"
Perhaps I'm defining my closure wrong, but when defining a closure to work with a responsive label, the subsequent action execution attempts to pull a closure out of `textstorage` at memory address `0x00000`

In this example, `cell.containedView` is a `ResponsiveLabel`, and hashtagResponder is an ivar defined as:

[code]

[code]

<img width="962" alt="screen shot 2017-06-12 at 1 37 23 pm" src="htt

[2017-06-12 18:45] bounds commented on #45
Even when removing the dependency in the closure on `self` (just calling `print(hashtag)`), which should limit the closure to acting on a `String` and therefore remove the need to mark my class definition as `@objc`, it still does not appear to work. Even marking my controller as `@objc` and moving the closure from an ivar to defining it inline, I can't get it to work.

[code]

[2017-06-30 01:35] vickydhas commented on #44
No response , living with the bug thanks.

[2017-07-04 10:45] hsusmita commented on #44
@vickydhas Whose dealloc method isn't get called? Is it of the cell?

[2017-07-04 11:53] hsusmita commented on #44
@vickydhas Try this and let me know if it works.
[code]
I think the issue, self is being captured inside the block. Thank you for pointing this out. I will update my examples.

[2017-07-05 07:41] vickydhas commented on #44
appreciate you reopened ill check and close the bug if confirmed

[2017-07-12 05:41] hsusmita commented on #44
Did it solve the issue?

[2017-07-12 07:17] vickydhas commented on #44
I've not tested it yet you may close the issue if that the resolution and
I'll comment later if I happen to find reproduced issue.
--
Sent from my iPhone6+

[2018-02-08 17:40] Saulenco commented on #18
Hi i have the same issue , one multiline label with 2 string for detection and only one worked. The only solution that i had is to refresh the tableView in viewDidAppear

[2018-05-04 08:25] maltsugar opened #47 "A Chinese truncationToken position calculation is inaccurate"
![](http://wx3.sinaimg.cn/mw690/72aba7efgy1fqzdvse523j20kc0nkwgw.jpg)

the truncationToken is not at the end of the string

[2018-05-07 02:51] fbernaly commented on #45
I am having the same issue

[2018-06-20 05:41] yucaroll commented on #45
#30 this answer helped me :)

[2018-08-10 06:54] maulikpat opened #48 "IBOutlet issue"
Hello,

I am trying to add Responsive label in xib. But xib is giving error:

<img width="441" alt="screen shot 2018-08-10 at 12 22 54 pm" src="https://user-images.githubusercontent.com/2304770/43943150-22f79950-9c98-11e8-9dca-f64f75a7e83d.png">

Also if I select Inherit Module from Target xib is not giving error but app is crashing. Because it considered label as UILabel than Responsive Label.

<

[2018-08-27 13:29] Chirag89-JackSparrow opened #49 "Adding multiple detection like email, userhandler and url doesn't work"
I add email detection, url detection and userhandler detection on same label but its not working properly.
When i add chirag@y.com its take @y as a userhandler detection part and chirag & .com as a url detection part.  So it's not  detect chirag@y.com as email part.

[code]

[2018-09-25 07:38] hsusmita commented on #49
@Chirag89-JackSparrow I am currently looking into this issue. Can you tell me if it works if you add detection for email only?

[2018-09-25 08:44] Chirag89-JackSparrow commented on #49
Actually I resolve issue by yesterday by changing regular expressions. Thanks for responding.

Changes in methods

[2018-09-25 09:36] hsusmita commented on #49
@Chirag89-JackSparrow Cool! Thanks for updating. 👍

[2018-09-25 09:38] Chirag89-JackSparrow commented on #49
You can help with me for this issue @hsusmita @thelastjedi @georgesteiner @andreyoshev

When I add user tag and hashtag detection in custom tableview cell label and I scroll the tableview, sometimes user tag and hashtag is not detected. But when I scroll up its come as detected. Didn't found why it happens.

I have attach screen shots. Please check and let me know.

![ios1](https://user-images.git

[2018-09-25 09:39] hsusmita commented on #49
@Chirag89-JackSparrow I will look into this.

[2018-09-25 09:40] Chirag89-JackSparrow commented on #49
@hsusmita Let me know as soon as possible. Thanks for responding.

[2018-10-08 07:48] syrakozz opened #50 "any similar library for textfiled"
any similar library for textfiled

[2018-10-08 07:51] hsusmita commented on #50
@syrakozz I think you can use UITextView instead of UITextField to achieve similar behaviour, because textkit stack is exposed for UITextView.

[2018-10-10 15:41] Yellfy opened #51 "This library is breaking in iOS 12"
Hi, this library is breaking in iOs 12, any fix coming?

[2018-10-11 06:30] AliTariqQuantum commented on #51
I am having same issue. For me its breaking on iPhone X, running iOS 12.

[2018-10-16 07:51] DavidWiseGroup commented on #30
Shorten version of @vcambur is:

[code]

usage:
[code]

[2018-10-24 15:34] anhmuonnoi commented on #51
me too

[2018-10-25 11:02] hsusmita commented on #51
@AliTariqQuantum @anhmuonnoi I am not getting time to work on this. Can you try [SwiftResponsiveLabel](https://github.com/hsusmita/SwiftResponsiveLabel)? Let me know if the issue persists in this library too.

[2018-10-31 10:30] Chirag89-JackSparrow commented on #49
@hsusmita Any update on the above issue as we discussed ?

[2018-10-31 11:07] hsusmita commented on #49
@Chirag89-JackSparrow I didn't get time to update this. However, this library is breaking for ios 12. Can you try the swift version `SwiftResponsiveLabel`?

[2018-11-23 13:50] AliTariqQuantum commented on #51
@hsusmita SwiftResponsiveLabel is also not working. Version available via Pod is 2.2 and 2.2 is not compatible with Xcode 9.

has any body found an workaround, until @hsusmita finds time to fix this?

[2020-12-30 10:04] heistings commented on #11
@hsusmita I am working around with a UITextView, and I want to do almost the thing as you. Thanks for your demonstration

[2021-07-17 03:35] mrugeshtank opened #52 "Can we remove extra space from leading"
How can we remove extra space (leading offset) from label's text?
![Screenshot 2021-07-17 at 9 01 48 AM](https://user-images.githubusercontent.com/11042449/126024242-67a590d5-982a-40ae-95fe-d5101512f325.png)
I want to match leading alignment with UILabel.

[2021-11-26 03:35] mrugeshtank opened #54 "Crash on TextKitStack.swift - Line 197"
I'm getting crash on mention file and line.
Here I'm having Crashlytics' report, which can help you to solve issue.
![Screenshot 2021-11-26 at 9 00 39 AM](https://user-images.githubusercontent.com/11042449/143522655-cb926963-2a79-4e0a-92cb-b7c40bfbcc45.png)

[2022-04-14 19:55] #35 closed